#app
{
background-color:grey;
}
.line
{
height:6px;
background-color:black;
width:70px;
margin:8px auto;
}
h1
{
font-size:30px;
font-family:Arial;
font-weight:300;
}
#game
{
background-color:grey;
}
#chatbot
{
background-color:grey;
}